@font-face {
    font-family: "RP";
    src: url(../fonts/ReadexPro-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "RP";
    src: url(../fonts/ReadexPro-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "RP";
    src: url(../fonts/ReadexPro-SemiBold.ttf);
    font-weight: 600;
}